<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jacklin.jacklinclient"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="22" />
    
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.jacklin.jacklinclient" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <!-- <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"></uses-permission> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/login_logo"
        android:label="@string/app_name"
        android:name="com.jacklin.main.yaoyiyao.MapApplication"
        android:theme="@android:style/Theme.NoTitleBar" >
        <uses-library android:name="android.test.runner" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="raQop3GuAfKpMe4gBtfW8FbY" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        
        <activity
            android:name="com.jacklin.welcome.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.jacklin.main.MainjacklinActivity"
            android:label="@string/app_name" >
        </activity>
        
         <activity
            android:name="com.jacklin.main.yaoyiyao.MapActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.jacklin.login.LoginActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.jacklin.main.wo.InfoActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.jacklin.register.RegisterActivity1"
            android:launchMode="singleTask"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.jacklin.register.RegisterActivity2"
            android:launchMode="singleTask"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.jacklin.register.PhotoActivity"
            android:label="@string/app_name" >
        </activity>
        
         <activity
            android:name="com.jacklin.register.RegisterActivity3"
            android:label="@string/app_name" >
        </activity>
        
         <activity
            android:name="com.jacklin.main.wo.GameActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.jacklin.main.wo.GameTActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.jacklin.main.yaoyiyao.StrangerInfoActivity"
            android:label="@string/app_name" >
        </activity>
        
         <activity
            android:name="com.jacklin.main.liaotian.ChattingActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.jacklin.main.liaotian.FriendInfoActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.jacklin.main.yaoyiyao.MapGameActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
